img {
	position: fixed;
	left: 50%;
	transform: translate(-50%);
}
h1 {
	color: red;
	font-family: arial;
	text-align:center ;
	font-size: 40px;
}
h2 {
	color: royalblue;
	font-family: italic;
	text-align: center;
	font-size: 30px;
}